@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*,html,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}

body{
  overflow-x: hidden;
}

.imgd{
  position: fixed;
  top: 10px;
  left: 20px;
  height: auto;
  width: 90px;
  z-index: 2;
}

.mainimg{
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  height: 99%;
  z-index: 0;
  box-sizing: border-box;
}

.h3{
  font-family: 'Roboto', sans-serif;
  position: absolute;
  font-weight: 100;
  font-size: 140px;
  color: white;
  top: 240px;
  left: 120px;
}

h4{
  font-family: 'Roboto', sans-serif;
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  color: white;
  top: 380px;
  left: 340px;
}

h5{
  font-family: 'Roboto', sans-serif;
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  color: white;
  top: 700px;
  left: 345px;
}

h6{
  font-family: 'Roboto', sans-serif;
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  color: white;
  top: 380px;
  left: 845px;
}


.hero{
  position: fixed;
  top: 0;
  left: 324px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 22px;
  padding-right: 10px;
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 37px;
  padding-left: 20px;
  padding-right: 10px;w
}

.logo{
  color: white;
  position: absolute;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  left: -200px; 
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

.niv{
  padding-right: 60px;
  padding-left: 20px;
}

nav ul li a{
  color: white;
  text-decoration: none;

}

ul{
  margin-left: 901px;
}




